.note-create {
  margin: 20px auto;
  padding: 0.5rem 0;
  background-color: #fff;
  flex-direction: column;
  border-radius: 3px;
  box-shadow: 0 0 5px #7a7a7a;
}

.note-create input {
  outline: none;
  border: none;
  padding-left: 10px;
  font-size: 1.5rem;
}

.note-create button {
  color: #777;
  background-color: white;
  outline: none;
  border: none;
  background-image: url();
  height: 100%;
}

.note-create button i:hover {
  color: black;
}

.note-create .active {
  color: black;
}

.note-btn {
  font-size: 2rem;
  padding: 0.5rem;
}

.note-btn-container:not(:last-child) {
  margin-right: 1.5rem;
}

/* MEDIA QUERIES */
/* MEDIUM */
@media (min-width: 640px) {
  .note-create {
    flex-direction: row;
    width: 600px;
  }
}
