.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.grid {
    display: grid;
}
.pad20{
    padding: 20px;
}
.app-header nav>*:not(:last-child) {
    margin-inline-end: 15px;
}

.app-header{
    background:linear-gradient(320deg, #410093, #735b91);
}

.YAWHO{
        font-family: YAWHO;
        font-size: 1.8rem;
}


.active {
    color: red;
}