.email-app{
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: rgba(63, 63, 63, 0.637);
}

.email-body{
    justify-content: space-between;
    padding: 15px;
    margin: 0%;
    display: flex;
    flex-direction: column;
    background-color: rgba(63, 63, 63, 0.637);
}

@media (min-width: 970px) {
    .email-body {
        flex-direction: row;
    }
    .email-app{
        flex-wrap: wrap;
    }
  }