

.email-compose textarea{

    resize: none;

}

.email-compose{
    width: 60vh;
    border-radius: 6px;
    position: fixed;
    bottom: 0%;
    left: 10vh;
}

.send-email-btn{
    color: white;
background-color: #188fff;
}

.send-email-btn:hover{
    background:linear-gradient(270deg, #410093, #735b91);
    cursor: pointer;
}

.delete-email-btn{
    color: gray;
    text-align: center;
    width: 40px;
    border: solid gray 1px; 
    border-bottom: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.delete-email-btn{
    color: gray;
    text-align: center;
    width: 40px;
    border: solid gray 1px; 
    border-bottom: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.delete-email-btn:hover{
    background-color: rgb(174, 174, 174);
    cursor: pointer;
}