.email-status{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.email-status-btn{
	color: white;
	border: none;
	background: none;
	text-align: left;
    height: auto;
	padding: 5px;
}

.email-details .email-status{
	flex-direction: column;
}

.email-status-btn:hover{
	background-color: rgba(128, 128, 128, 0.486);
}

 .email-status-btn .active{
	color: red;
}

.email-status .add-email {
    background-color: #188fff;
	padding: 18px 11.5px;
    margin-bottom: 0px;
	border-radius:1px;
	/* border:1px solid #w; */
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.email-status .add-email:hover {
	box-shadow: 4px 4px 4px -1px rgba(0,0,0,0.5);
}

@media (min-width: 690px) {
	.email-status{
		flex-direction: column;
	}
}

@media (max-width: 689px) {
	.email-status .add-email {
		background-color: #188fff;
		padding: 11.5px;
	}
}