.note-list-container {
  background-color: rgba(255, 255, 255, 0.645);
  border-radius: 3px;
  column-count: 1;
  margin-bottom: 50px;
  padding: 20px;
  break-inside: avoid-column;
}

.note-list h3 {
  color: white;
  margin-bottom: 10px;
}

.note-list h4 {
  color: black;
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-decoration: underline;
}

/* MEDIA QUERIES */
/* MEDIUM */
@media (min-width: 640px) {
  .note-list-container {
    column-count: 2;
  }
}

/* LARGE */
@media (min-width: 900px) {
  .note-list-container {
    column-count: 3;
  }
}

/* X-LARGE */
@media (min-width: 1200px) {
  .note-list-container {
    column-count: 4;
  }
}
