.note-preview {
  width: 100%;
  max-width: 250px;
  min-height: 100px;
  background-color: rgb(14, 67, 138);
  background-color: white;
  color: #444;
  padding: 10px;
  border-radius: 3px;
  page-break-inside: avoid;
  margin-bottom: 10px;
}

.note-preview [contentEditable] {
  outline: none;
}

.note-preview-control-panel button,
.note-todo-list button,
.note-edit-btn-container button {
  background-color: inherit;
  outline: none;
  border: none;
}

.note-preview-control-panel i {
  font-size: 0.9rem;
  color: #777;
}

.note-preview-control-panel i:hover {
  color: #000;
}

.note-preview img {
  width: 100%;
}

.note-preview input {
  color: #444;
  background-color: inherit;
  border: none;
  outline: none;
}

.note-preview .visibility-hidden {
  visibility: hidden;
}

.note-preview ::placeholder {
  color: #444;
}

.note-todo-list button {
  color: rgb(253, 90, 90);
}

.note-todo-list .done {
  text-decoration: line-through;
}

.note-edit-control-panel input {
  border: 2px solid #202124;
  padding: 5px 5px;
  margin-bottom: 10px;
  width: 100%;
}

.note-edit-control-panel button {
  border: 2px solid #202124;
  color: #444;
  padding: 5px 5px;
  width: 40%;
}

.note-todo-list li {
  user-select: none;
  margin-bottom: 5px;
}

.note-todo-input::placeholder {
  color: #fff;
}
