header {
  background-color: #400090	;
  height: 80px;
  font-weight: bold;
  color: white;
}

header nav,
header nav ul {
  color: white;
  padding: 15px;
  height: 100%;
}

header a {
  color: black;
}

a:hover {
  border-bottom: 2px solid rgb(122, 170, 247);
}

li a.active {
  border-bottom: 2px solid rgb(5, 98, 247);
}

@media (max-width: 640px) {
  header nav {
display: inline-block;    
  }
}